body {
    
    background-image: url("..//images/background.jpg");
    
    
}

.jumbotron{
    background-image: url("..//images/banner_background.png");
}

#containerBody {
    background: white;
    padding: 20px;
   
}